<p id="notice"><%= notice %></p>

<h1>Listing Acedemicrecords</h1>

<table>
  <thead>
    <tr>
      <th>Matriculation/olevel</th>
      <th>Name of school/college</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @acedemicrecords.each do |acedemicrecord| %>
      <tr>
        <td><%= acedemicrecord.matriculation/olevel %></td>
        <td><%= acedemicrecord.name_of_school/college %></td>
        <td><%= link_to 'Show', acedemicrecord %></td>
        <td><%= link_to 'Edit', edit_acedemicrecord_path(acedemicrecord) %></td>
        <td><%= link_to 'Destroy', acedemicrecord, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Acedemicrecord', new_acedemicrecord_path %>
